In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [5]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
dates = pd.date_range('20170101',periods=6)

In [9]:
dates

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [15]:
df

                   A         B         C         D
2017-01-01  0.239448  0.159255  1.097771  0.147081
2017-01-02 -0.619667 -0.243895  1.234833 -2.475411
2017-01-03  1.992757  1.232876  1.409416 -0.476250
2017-01-04  1.078658 -1.296685 -1.203677 -1.022669
2017-01-05  1.308100  0.053125  0.479236  0.626597
2017-01-06 -0.500059 -1.685714  0.377939  0.175256

In [21]:
df2 = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [20]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [23]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [24]:
df2.B

0   2013-01-02
1   2013-01-02
2   2013-01-02
3   2013-01-02
Name: B, dtype: datetime64[ns]

In [25]:
df.head()

                   A         B         C         D
2017-01-01  0.239448  0.159255  1.097771  0.147081
2017-01-02 -0.619667 -0.243895  1.234833 -2.475411
2017-01-03  1.992757  1.232876  1.409416 -0.476250
2017-01-04  1.078658 -1.296685 -1.203677 -1.022669
2017-01-05  1.308100  0.053125  0.479236  0.626597

In [26]:
df.tail()

                   A         B         C         D
2017-01-02 -0.619667 -0.243895  1.234833 -2.475411
2017-01-03  1.992757  1.232876  1.409416 -0.476250
2017-01-04  1.078658 -1.296685 -1.203677 -1.022669
2017-01-05  1.308100  0.053125  0.479236  0.626597
2017-01-06 -0.500059 -1.685714  0.377939  0.175256

In [27]:
df.index

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')

In [28]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [29]:
df.values

array([[ 0.23944842,  0.15925511,  1.09777061,  0.14708092],
       [-0.61966703, -0.24389473,  1.23483313, -2.47541051],
       [ 1.99275706,  1.23287551,  1.40941561, -0.47625   ],
       [ 1.0786584 , -1.29668506, -1.20367734, -1.02266892],
       [ 1.30810044,  0.05312461,  0.47923643,  0.62659723],
       [-0.50005935, -1.6857139 ,  0.37793945,  0.17525635]])

In [30]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.583206 -0.296840  0.565920 -0.504232
std    1.048458  1.058489  0.960845  1.124259
min   -0.619667 -1.685714 -1.203677 -2.475411
25%   -0.315182 -1.033487  0.403264 -0.886064
50%    0.659053 -0.095385  0.788504 -0.164585
75%    1.250740  0.132722  1.200567  0.168212
max    1.992757  1.232876  1.409416  0.626597

In [31]:
df.T

   2017-01-01  2017-01-02  2017-01-03  2017-01-04  2017-01-05  2017-01-06
A    0.239448   -0.619667    1.992757    1.078658    1.308100   -0.500059
B    0.159255   -0.243895    1.232876   -1.296685    0.053125   -1.685714
C    1.097771    1.234833    1.409416   -1.203677    0.479236    0.377939
D    0.147081   -2.475411   -0.476250   -1.022669    0.626597    0.175256

In [32]:
df.sort_index?

In [35]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2017-01-01  0.147081  1.097771  0.159255  0.239448
2017-01-02 -2.475411  1.234833 -0.243895 -0.619667
2017-01-03 -0.476250  1.409416  1.232876  1.992757
2017-01-04 -1.022669 -1.203677 -1.296685  1.078658
2017-01-05  0.626597  0.479236  0.053125  1.308100
2017-01-06  0.175256  0.377939 -1.685714 -0.500059

In [37]:
df.sort_values?

In [38]:
df.sort_values(by='B')

                   A         B         C         D
2017-01-06 -0.500059 -1.685714  0.377939  0.175256
2017-01-04  1.078658 -1.296685 -1.203677 -1.022669
2017-01-02 -0.619667 -0.243895  1.234833 -2.475411
2017-01-05  1.308100  0.053125  0.479236  0.626597
2017-01-01  0.239448  0.159255  1.097771  0.147081
2017-01-03  1.992757  1.232876  1.409416 -0.476250

In [39]:
df['A']

2017-01-01    0.239448
2017-01-02   -0.619667
2017-01-03    1.992757
2017-01-04    1.078658
2017-01-05    1.308100
2017-01-06   -0.500059
Freq: D, Name: A, dtype: float64

In [40]:
df[0:3]

                   A         B         C         D
2017-01-01  0.239448  0.159255  1.097771  0.147081
2017-01-02 -0.619667 -0.243895  1.234833 -2.475411
2017-01-03  1.992757  1.232876  1.409416 -0.476250

In [41]:
df['2017-01-02':'2017-01-04']

                   A         B         C         D
2017-01-02 -0.619667 -0.243895  1.234833 -2.475411
2017-01-03  1.992757  1.232876  1.409416 -0.476250
2017-01-04  1.078658 -1.296685 -1.203677 -1.022669

In [43]:
df.loc[dates[0]]

A    0.239448
B    0.159255
C    1.097771
D    0.147081
Name: 2017-01-01 00:00:00, dtype: float64

In [44]:
df.loc[:,['A','B']]

                   A         B
2017-01-01  0.239448  0.159255
2017-01-02 -0.619667 -0.243895
2017-01-03  1.992757  1.232876
2017-01-04  1.078658 -1.296685
2017-01-05  1.308100  0.053125
2017-01-06 -0.500059 -1.685714

In [45]:
df.iloc[3:5,1:3]

                   B         C
2017-01-04 -1.296685 -1.203677
2017-01-05  0.053125  0.479236

In [48]:
df[df.A > 0]

                   A         B         C         D
2017-01-01  0.239448  0.159255  1.097771  0.147081
2017-01-03  1.992757  1.232876  1.409416 -0.476250
2017-01-04  1.078658 -1.296685 -1.203677 -1.022669
2017-01-05  1.308100  0.053125  0.479236  0.626597

In [49]:
df[df > 0]

                   A         B         C         D
2017-01-01  0.239448  0.159255  1.097771  0.147081
2017-01-02       NaN       NaN  1.234833       NaN
2017-01-03  1.992757  1.232876  1.409416       NaN
2017-01-04  1.078658       NaN       NaN       NaN
2017-01-05  1.308100  0.053125  0.479236  0.626597
2017-01-06       NaN       NaN  0.377939  0.175256

In [50]:
df2 = df.copy()

In [52]:
df2

                   A         B         C         D
2017-01-01  0.239448  0.159255  1.097771  0.147081
2017-01-02 -0.619667 -0.243895  1.234833 -2.475411
2017-01-03  1.992757  1.232876  1.409416 -0.476250
2017-01-04  1.078658 -1.296685 -1.203677 -1.022669
2017-01-05  1.308100  0.053125  0.479236  0.626597
2017-01-06 -0.500059 -1.685714  0.377939  0.175256

In [53]:
df2['E'] = ['one', 'one','two','three','four','three']

In [54]:
df2

                   A         B         C         D      E
2017-01-01  0.239448  0.159255  1.097771  0.147081    one
2017-01-02 -0.619667 -0.243895  1.234833 -2.475411    one
2017-01-03  1.992757  1.232876  1.409416 -0.476250    two
2017-01-04  1.078658 -1.296685 -1.203677 -1.022669  three
2017-01-05  1.308100  0.053125  0.479236  0.626597   four
2017-01-06 -0.500059 -1.685714  0.377939  0.175256  three

In [59]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2017-01-03  1.992757  1.232876  1.409416 -0.476250   two
2017-01-05  1.308100  0.053125  0.479236  0.626597  four

In [57]:
df2['E'].isin()?

SyntaxError: invalid syntax (<ipython-input-57-fb37c61ddf6d>, line 1)

In [61]:
df2['E'].isin(['two','four'])

2017-01-01    False
2017-01-02    False
2017-01-03     True
2017-01-04    False
2017-01-05     True
2017-01-06    False
Freq: D, Name: E, dtype: bool

In [62]:
df2['E']

2017-01-01      one
2017-01-02      one
2017-01-03      two
2017-01-04    three
2017-01-05     four
2017-01-06    three
Freq: D, Name: E, dtype: object